	
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

<!--===============================================================================================-->
<script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/bootstrap/js/popper.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/select2/select2.min.js"></script>
<script>
	$(".js-select2").each(function () {
		$(this).select2({
			minimumResultsForSearch: 20,
			dropdownParent: $(this).next('.dropDownSelect2')
		});
	})
</script>
<!--===============================================================================================-->
<script src="~/vendor/daterangepicker/moment.min.js"></script>
<script src="~/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/slick/slick.min.js"></script>
<script src="~/js/slick-custom.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/parallax100/parallax100.js"></script>
<script>
	$('.parallax100').parallax100();
</script>
<!--===============================================================================================-->
<script src="~/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<script>
	$('.gallery-lb').each(function () { // the containers for all your galleries
		$(this).magnificPopup({
			delegate: 'a', // the selector for gallery item
			type: 'image',
			gallery: {
				enabled: true
			},
			mainClass: 'mfp-fade'
		});
	});
</script>
<!--===============================================================================================-->
<script src="~/vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/sweetalert/sweetalert.min.js"></script>
<script>
	$('.js-addwish-b2, .js-addwish-detail').on('click', function (e) {
		e.preventDefault();
	});

	$('.js-addwish-b2').each(function () {
		var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
		$(this).on('click', function () {
			swal(nameProduct, "is added to wishlist !", "success");

			$(this).addClass('js-addedwish-b2');
			$(this).off('click');
		});
	});

	$('.js-addwish-detail').each(function () {
		var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

		$(this).on('click', function () {
			swal(nameProduct, "is added to wishlist !", "success");

			$(this).addClass('js-addedwish-detail');
			$(this).off('click');
		});
	});

	/*---------------------------------------------*/

	$('.js-addcart-detail').each(function () {
		var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
		$(this).on('click', function () {
			swal(nameProduct, "is added to cart !", "success");
		});
	});

</script>
<!--===============================================================================================-->
<script src="~/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
	$('.js-pscroll').each(function () {
		$(this).css('position', 'relative');
		$(this).css('overflow', 'hidden');
		var ps = new PerfectScrollbar(this, {
			wheelSpeed: 1,
			scrollingThreshold: 1000,
			wheelPropagation: false,
		});

		$(window).on('resize', function () {
			ps.update();
		})
	});
</script>

<script>
	$(document).ready(function () {
		$.ajax({
			url: '/Carts/GetUniqueItemCount',
			type: 'GET',
			success: function (response) {
				$('.cartItems').attr('data-notify', response.itemCount);
			},
			error: function () {
				console.error("Error retrieving cart item count.");
			}
		});
	});

</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!--===============================================================================================-->
<script src="~/js/slick-custom.js"></script>
<script src="~/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>
	function loadCartItems() {
		$.ajax({
			url: '/Carts/GetCartItems', // رابط الـ Action Method
			method: 'GET',
			success: function (response) {
				if (response.success) {
					const cartItemsContainer = $(".header-cart-wrapitem");
					const totalContainer = $(".header-cart-total");

					// تفريغ العناصر القديمة
					cartItemsContainer.empty();

					response.items.forEach(item => {
						if (item.ProductImage && item.ProductName && item.ProductPrice && item.Quantity) {
							const cartItemHTML = `
		  <li class="header-cart-item flex-w flex-t m-b-12">
			<div class="header-cart-item-img">
			  <img src="/images/${item.ProductImage}" alt="${item.ProductName}">
			</div>
			<div class="header-cart-item-txt p-t-8">
			  <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
				${item.ProductName}
			  </a>
			  <span class="header-cart-item-info">
				${item.Quantity} x $${item.ProductPrice.toFixed(2)}
			  </span>
			</div>
		  </li>`;
							cartItemsContainer.append(cartItemHTML);
						} else {
							console.warn('Item missing required fields:', item);
						}
					});

					// تحديث الإجمالي
				
				}
			},
			error: function () {
				alert("Error loading cart items. Please try again.");
			}
		});
	}

	// استدعاء الدالة عند فتح الـ Sidebar
	$(".js-panel-cart").on("click", function () {
		loadCartItems();
	});

</script>