
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
@model RegisterVM
<!-- Sign up form -->
<div class="login">
    <img src="~/images/blob-scene-haikei.png" alt="login image" class="login__img">

    <form asp-action="Register" asp-controller="Account" class="container">
        <h1 class="login__title">Register</h1>

        <div class="login__content">
            <div class="login__box">
                <i class="ri-user-3-line login__icon"></i>

                <div class="login__box-input">
                    <input asp-for="UserName" class="login__input" placeholder=" ">
                    <label asp-for="UserName" class="login__label"></label>
                </div>
            </div>

            <div class="login__box">
                <i class="ri-user-3-line login__icon"></i>

                <div class="login__box-input">
                    <input asp-for="Email" class="login__input" placeholder=" ">
                    <label asp-for="Email" class="login__label"></label>
                </div>
            </div>


            <div class="login__box">
                <i class="ri-lock-2-line login__icon"></i>

                <div class="login__box-input">
                    <input asp-for=Password class="login__input" placeholder=" ">
                    <label asp-for="Password" class="login__label"></label>

                </div>
            </div>

            <div class="login__box">
                <i class="ri-lock-2-line login__icon"></i>

                <div class="login__box-input">
                    <input asp-for=ConfirmPassword class="login__input" placeholder=" ">
                    <label asp-for="ConfirmPassword" class="login__label"></label>

                </div>
            </div>
        </div>

      

        <button type="submit" class="login__button">Register</button>

        <p class="login__register">
            Do you have an account? <a asp-action="Login" asp-controller="Account">Login</a>
        </p>
    </form>
</div>


